@font-face {
  font-family: 'Gmarket Sans TTF';
  font-weight: 700;
  src: local('Gmarket Sans TTF'),
    url('GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans TTF';
  font-weight: 500;
  src: local('Gmarket Sans TTF'),
    url('GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans TTF';
  font-weight: 300;
  src: local('Gmarket Sans TTF'),
    url('GmarketSansTTFLight.ttf') format('truetype');
}
